## Build
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.user
*.userosscache
*.suo
*.cache
*.dll
*.pdb
*.apk
*.aab
*.ipa
*.app

## Visual Studio / VS Code
.vs/
*.rsuser
*.DotSettings.user

## MAUI / Xamarin
**/Resource.designer.cs

## NuGet
*.nupkg
**/packages/
project.lock.json
project.fragment.lock.json
artifacts/

## OS
Thumbs.db
Desktop.ini
.DS_Store
